{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<h1>Visualiser les statistiques</h1>
<ul>
    <li>Nombre de films :</li>
    <li>Nombre de personnes :</li>
    <li>Durée moyenne et total des films :</li>
    <li>Film le plus récent :</li>
    <li>Film le plus ancien :</li>
</ul>
{% endblock %}