*{
    box-sizing: border-box;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

li{
    list-style-type: none;
    margin-right: 2rem;
}

a{
    color: inherit;
}

section{
    max-width: 800px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

h2{
    font-size: 20px;
}

footer{
    text-align: center;
}

/* ----------------------------------------------------------------- */

/* === MOVIES LIST === */

.movie{
    display: flex;
    margin: 1rem auto;
    border: 1px solid black;
    max-height: 15rem;
    padding-right: 1rem;
    padding: 1rem;
    align-items: center;
}

.movie-poster img{
    max-height: 10rem;
    max-width: 5rem;
}

.inner{
    margin-left: 1rem;
}