<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            {% block title %} Movie Lib {% endblock %}
    </title>

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %} 
</head>
<body>
        <header>
            {% include "components/navbar.html.twig" %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>Movie Lib - Tous droits réservés - {{ date()|date("Y") }}</p>
        </footer>
        
    </body>
</html>
