<nav>
    <ul>
        <li><a href="{{ path('main_index')}}">Movie Lib</a></li>
        <li><a href="{{ path('movie_list')}}">Liste des films</a></li>
        <li><a href="{{ path('user_create')}}">Créer une personne</a></li>
        <li><a href="{{ path('movie_create')}}">Créer un film</a></li>
    </ul>
</nav>